/.rubocop-https---raw-githubusercontent-com-NHSDigital-ndr-dev-support-master--rubocop-yml
/.rubocop-https---raw-githubusercontent-com-PublicHealthEngland-ndr-dev-support-master--rubocop-yml
/.bundle/
/.yardoc
/Gemfile.lock
/gemfiles/Gemfile.*.lock
/_yardoc/
/coverage/
/docs/_site/
/pkg/
/spec/reports/
/tmp/
*.bundle
*.so
*.o
*.a
mkmf.log
